# Python
__pycache__/
*.pyc
venv/
.venv/

# Node
node_modules/

# VS Code
.vscode/

# Logs
*.log

# AI Models
*.dat
*.pt
*.pth
*.onnx
*.bin
*.ckpt
*.caffemodel

# Vosk speech models
vosk-model*

# Local environment
.env

# Face images generated locally
known_faces/

# macOS
.DS_Store

# Windows
Thumbs.db